.container {
  padding: 1.5rem;
  max-width: 700px;
  margin: 0 auto;
  height: calc(100vh - 80px);
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.75rem;
  }
}
